body {

	font-family: 'Handbook', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 30px;
	color: white;
	background: black;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	transition: background-image 1.3s linear;transition-delay: 0.2s;
}
.mage{
	background-image: url(../img/картина2.jpg);
}

.aboutArtist{
	background-image: url(../img/Юргин2.jpg);
	background-attachment: local;
}
.contacts{
	background-image: url(../img/Контакты.jpg);
	background-attachment: local;
}
.gallery{
	background-image: url(../img/Холст.jpg);
	background-attachment: fixed;
	background-size: cover;
}
html { 
 position:relative; 
 min-height:100%;
}
.container {
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.head{
	margin-top: 16%;
}
.index_head{
	font-weight: 300;
	font-size: 72px;
	display:inline-block;
	margin-left: 285px;
	vertical-align: middle;
}
.index .paginator{
    float:right; 
    margin-top: 29px;
    display:inline-block;
}
.index .paginator a{
	font-size: 0;
	display: block;
	height: 10px;
	position: relative;
	width: 10px;
	margin-top: 22px;
}
.index .paginator a:first-child{
	margin-top: 0px;
}
.index .paginator a:hover::after{
    background: rgba(111,108,108,0.5);}
.index .paginator a:after{
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	border-radius: 100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    -khtml-border-radius:100%;	
	position: absolute;
	top:0px;
	border: 2px solid white;
}
.pushed:after{
    background-color: white;
}
.index .paginator .pushed:hover::after{
    background-color: white;}
.index .main_navigation{
	float: right;
	margin-right: 80px;
	margin-top: 3%;
	margin-bottom: 140px;
	
	
}
.main_navigation li {
	display: inline-block;
	margin-top: 9px;
}
.main_navigation a {
	text-decoration: none;
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-right: 60px;
	color: white;
	position: relative;
}
.main_navigation a:after{
	content: "/";
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
    top:0px;
    left: -35px;
}
.main_navigation a:hover{
	text-decoration: underline;
}
.main_navigation .navigate_link1::after{
	content: "";
}
.all_footer{
	margin-top:60px;
	height: 60px;
	background: rgba(111,108,108,0.5);
	position: absolute;
	width: 100%;
	bottom: 0;
}
.footer_contacts{
	display: block;
	width: 120px;
	margin: auto;
}
.footer_contacts a{
	font-size: 0px;
	position: relative;
	margin-left: 30px;
}
.footer_contacts a:first-child{
	margin-left: 7px;
}


.footer_contacts a:after {
	content: "";
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
    top:-12px;
    left: 0px;
}
.footer_contacts a:first-child:after{
	background: url(../img/sprite.png)  no-repeat;
	background-position: -10px -7px;
}
.footer_contacts a:nth-child(2):after{
	background: url(../img/sprite.png)  no-repeat;
	background-position: -48px -6px;
}
.footer_contacts a:nth-child(3):after{
	background: url(../img/sprite.png)  no-repeat;
	background-position: -85px -6px;
}

@media screen and (max-width: 950px){
    .head{
	    margin-top: 25%;}
    .index_head{
	    font-size: 60px;
    }

    .index .main_navigation{
	    display: block;
	    margin: auto;
	    margin-top: 10%;
	    margin-bottom: 140px;
    }
}
@media screen and (max-width: 750px){
    .index_head{
    margin-left: 25%;
    }
}  
@media screen and (max-width: 600px){
    .main_navigation a:after{
	    content: "/";
        height: 20px;
        width: 20px;
        left: -20px;
    }
    .main_navigation a {
	    margin-right: 30px;
    }
    .index_head{
        margin-left: 10%;
    }
}
@media screen and (max-width: 520px){
	.head{
		margin-top: 40%;
	}
    .main_navigation a {
	    font-size: 28px;
    }
    .index_head{
        margin-left: 10%;
        font-size: 50px;
    }
     .index .main_navigation{
     	margin-top: 20%;
    }
}
@media screen and (max-width: 500px){
	.main_navigation ul{
		padding: 0px;
	}
    .main_navigation li {
	    display:block;
	    margin-top: 9px;
	}
    .index .main_navigation{
	    float: left;
	    margin-left: 15px;
    }
    .main_navigation a:after{
    display: none;
    }
    .main_navigation a{
    	font-size: 30px;
    	margin-top: 20px;
    }
}
@media screen and (max-width: 450px){
    .index_head{
    	float: left;
    	margin-left: 10px;
    }
}
@media screen and (max-width: 390px){
    .index_head{
        display: block;
        width: 200px;
    }
}



/*О Художнике*/

.head_artist  .main_navigation{
    border:1px solid red;
    float: left;
    margin-left: 10px;
}
.head_artist .index_head{
	border:1px solid yellow;
	float: right;
	margin-top: 10px;
	margin-left: 0px;
	font-size: 60px;
}
.head_artist{
	height: 110px;
	border:1px solid black;
}
.aboutArtist .container{
    border:1px solid green;
}
.head_artist .main_navigation li{
	border:1px solid red;
	margin-top: 0px;
}
.text_block{
	width: 50%;
	float: right;
	border:1px solid black;
	margin-top: 45px;
	margin-bottom: 300px;
	background:rgba(182,164,139,0.7);
}
.text_block p{
	font-size:24px;
	padding: 28px 15px;
	text-indent: 30px;
	margin: 0;
}


/*Контакты*/
.contacts .container{
    border:1px solid green;
}


/*Галерея*/
.gallery .container{
	border:1px solid green;
}
.gallery_navigation{
	float: left;
	width: 260px;
    border:1px solid black;
    margin-top: 45px;
    background:rgba(182,164,139,0.7);
}
.gallery_navigation a {
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
	display: block;
	padding-left: 5px;
	margin-top: 10px;
	font-size: 28px;
	color: white;
	border:1px solid red;
	margin-left: 0px;
}
.gallery_navigation a:hover{
	background: url(../img/button.png);
}
.gallery_navigation a:first-letter{
	text-transform: uppercase;
}
.gallery_navigation .list{
    padding: 0px;
    margin-left: 30px;
}
.gallery_navigation .under_list{
	padding: 0px;
    margin-left: 20px;
    display: none;
}
.gallery_navigation .show{
	display: block;
}
.gallery_navigation .pushedForMenu{
	background: url(../img/button.png);
}
.under_list a{
	margin-top: 5px;
}
.gallery_navigation  li{
	display: block;	
	margin-left: 0px;
	padding: 0px;
}
.picture_window{
	width:850px;
	float: right;
	padding: 35px 10px;
	border:1px solid red;
	margin-top: 45px;
	margin-bottom: 140px;
	background:rgba(182,164,139,0.7);
}
.picture_navigate{
    width: 150px;
    margin-left: 15px;
    float: left;
    border:1px solid black;

}
.watch_block{
	border:1px solid yellow;
    float: right;
    width:580px;
    margin-right: 40px;
}
.picture_image{
    height: 380px;
    width: 100%;
    border:1px solid red;
}
.picture_image img{
	border:2px solid black;
	display: block;
}
.description{
    border:1px solid green;
    margin-top: 10px;
    float: left;
}
.description p{
    margin: 0;
    border:1px solid red;
}
.bold{
	font-weight: bold;
}
.gallery_paginator{
	float: right;
	border:1px solid black;
	margin-top: 10px;
	width: 140px;
	height: 40px;
	position: relative;
}
.gallery_paginator a{
	display: inline-block;
}
.paginator_left{
	position: absolute;
	font-size: 0px;
	left: 5px;
}
.paginator_left::after{
    content:"";
    display: block;
    width:35px;
    height: 24px;
    position: absolute;
    top:8px;
    background-color: red;
}
.paginator_right{
	font-size: 0px;
	position: absolute;
	right: 5px;
}
.paginator_right::after{
    content:"";
    display: block;
    width:35px;
    height: 24px;
    position: absolute;
    top:8px;
    left: -35px;
    background-color: red;
}
.picture_navigate img{
	border:2px solid black;
	display: block;
	box-sizing: border-box;
}
.picture_navigate a{
	display: block;
	width: 40px;
	height: 30px;
	background-color: yellow;
	margin: 0 auto;
}
.pictures_slider{
	border:1px solid green;
	height: 420px;
	overflow: hidden;
	position: relative;
}
.pictures_slider ul{
	margin: 0px;
	padding: 0px;
	display: block;
}
.pictures_slider li{
	display: block;
	margin-bottom: 10px;
}

.picture_navigate .end, .picture_navigate .up{
	background-color: black;
}